ul {
    list-style-type: none;
    position: fixed;
    width: 90%;
    overflow: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: lightpink;
}

h1 {
    float: left;
    font-weight: 300;
}

#navbar {
    display: block;
    position: absolute;
    top: 0px;
}

#content {
    display: block;
    clear: all;
    position: absolute;
    top: 100px;
    
}

img {
    display: inline;
    float: left;
}