/* This is where this CSS is from: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is where this CSS is from: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */


#content {
    display: block;
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    width: 75%;
}

h2 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 250px;
    margin: 0px auto 10px auto;
}

h3 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200px;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 150px;
}


/* Start of Nav and logo CSS */
nav {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    overflow: none;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 14px;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 14px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #97CEBB;
    text-decoration: none;
}

ul {
    margin: 20px 0px;
}

#logo {
    display: inline-block;
    margin-bottom:10px;
    width:400px;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 10px;
}

#title {
    display: block;
    width:400px;
    vertical-align: top;
    margin: auto;
}

#center {
    width: 65%;
    margin: auto;
    padding: 50px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
}

background-image {
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    background-position: center center fixed no-repeat;
    background-size: cover;
}
/* End of Nav and logo CSS */




/* Start of Contact Page */
input[type=text], select, textarea {
    padding: 10px;
    border: 1px solid #97CEBB;
    border-radius: 4px; 
    box-sizing: border-box;
    align-content: baseline;
    margin: 10px 0px;
}

input[type=submit] {
    background-color: #97CEBB;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 10px 0px;
}
/* End of Contact Page */




/* Start of Portfolio Page */
#gallery {
    width: 90%;
    margin: auto;
    align-content: center;
}

.hpicture {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 250px;
    height: 170px;
}

.vpicture {
    margin: 0;
    padding: 0;
    display: inline-block;
    height:246.5px;
}
/* End of Portfolio Page */




/* Start of Testimonials Page */
#testimonials {
    width: 75%;
    margin: auto;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
}

hr {
    border-color: #97CEBB;
}
/* End of Testimonials Page */




/* Start of Services Page */
ol {
    list-style-type: circle;
    margin-left: 75px;
}

li {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100px; 
}
/* End of Services Page */




/* Start of Footer CSS */
footer {
    width: 100%;
    background-color: #97CEBB;
    padding: 0;
    margin: 0;
  }

h4 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 14.5px;
    margin: auto;
    font-weight: 200; 
    width: 150px;
    padding: 5px;
    text-align: center;
}
/* End of Footer CSS */