ul {
    list-style-type: none;
    position: fixed;
    width: 90%;
    overflow: none;
    font-family: helvetia neue, sans-serif;
    font-weight: 100;
    font-size: 12px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    color: #97CEBB;
}

#navbar {
    display: block;
    position: absolute;
    top: 0px;
}

#content {
    display: block;
    margin: 50px, 20px;
    padding-left: 100px;
    padding-top: 20px;
    font-family: helvetica neue, sans-serif;
    font-weight: 200;  
}

#logo {
    display: block;
    margin-bottom:5px;
    width:300px;
}

#title {
    display:block;
    width:300px;
}

/* Contact Page Form */
input[type=text], select, textarea {
    padding: 10px;
    border: 1px solid #97CEBB;
    border-radius: 4px; 
    box-sizing: border-box;
    align-content: baseline;
}

input[type=submit] {
    background-color: #97CEBB;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gallery {
    margin: auto;
    width: 90%;
    margin: 7.5%;
}

h2 {
    font-family: helvetica neue, sans-serif;
    font-weight: 300;
}

h3 {
    font-family: helvetica neue, sans-serif;
    font-weight: 200;
}

footer {
    width: 100%;
    background-color: #97CEBB;
    font-family: helvetica neue, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 200;
    padding: 0;
    margin: 0;
  }